# Project exclude paths
/.idea/
/.vs/
/.vscode/
/CMakeFiles/
/build/
/cmake-build-debug-coverage/
/debug-build/
/out/
/release-build/
/venv/
# Dependencies extracted from deps/otherSources.tar.xz
/deps/glew
/deps/glfw
/deps/glm
/deps/vk-bootstrap
/deps/stb_image.h
/deps/tiny_obj_loader.h
/deps/vk_mem_alloc.h
/deps/glew32.dll
/deps/glew32d.dll
/deps/vulkan-1.dll
/deps/libvulkan.so.1
# Downloaded models
/src/Models.tar.xz
/src/Models