# Project exclude paths
/cmake-build-debug/
/build/
/out/
/.vs/
/.vscode/
/.idea/
/CMakeFiles/
/sources/glfw
/sources/glew
/sources/glm
sources/vk-bootstrap
/sources/stb_image.h
/sources/tiny_obj_loader.h
/sources/vk_mem_alloc.h
