# Project exclude paths
# Visual Studio Code
/.idea/
/.vs/
/.vscode/
/CMakeFiles/
/build/
/out/
# CLion
/debug-build/
/release-build/
/coverage-build/
/venv/
# Dependencies extracted from deps/otherSources.tar.xz
/deps/glew
/deps/glfw
/deps/glm
/deps/vk-bootstrap
/deps/stb_image.h
/deps/tiny_obj_loader.h
/deps/vk_mem_alloc.h
/deps/glew32.dll
/deps/glew32d.dll
/deps/vulkanHeaders
/deps/assimp/
